<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /MVC3/

# Nếu không phải file hoặc thư mục thật thì chuyển về index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]
</IfModule>
